<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5"> 
    <title>Proffy | Sua plataforma de estudos online</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/partials/page-study.css">
    <link rel="stylesheet" href="styles/partials/header.css">
    <link rel="stylesheet" href="styles/partials/form.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet">
</head>
<body id="page-study">

    <div id="container">
        <header class="page-header">
            <div class="top-bar-container">
                <a href="index.html">
                    <img src="images/icons/back.svg" alt="Volar">                 
                </a>
                <img src="images/logo.svg" alt="Proffy">
            </div>

            <div class="header-content">
                <strong>Estes são os proffys disponíveis</strong>
                <form id="search-teachers">
                    <div class="select-block">
                        <label for="subject">Matéria</label>
                        <select name="subject" id="subject">
                            <option value="" disabled="" hidden="">Selecione uma opção</option>
                            <option value="1">Artes</option>
                            <option value="2">Biologia</option>
                            <option value="3">Ciências</option>
                            <option value="4">Educação Física</option>
                            <option value="5">Física</option>
                            <option value="6">Geografia</option>
                            <option value="7">História</option>
                            <option value="8">Matemática</option>
                            <option value="9">Portugês</option>
                            <option value="10">Química</option>
                        </select>
                    </div>
                    <div class="select-block">
                        <label for="weekday">Dia da Semana</label>
                        <select name="weekday" id="weekday">
                            <option value="" disabled hidden>Selecione uma opção</option>
                            <option value="0">Domingo</option>
                            <option value="1">Segunda</option>
                            <option value="2">Terça</option>
                            <option value="3">Quarta</option>
                            <option value="4">Quinta</option>
                            <option value="5">Sexta</option>
                            <option value="6">Sábado</option>
                        </select>
                    </div>
                    <div class="input-block">
                        <label for="time">Hora</label>
                        <input name="time" id="time" type="time" min="0" max="24">
                    </div>
                    <button type="submit">Filtrar</button>
                </form>
            </div>
        </header>

        <main>
            <article class="teacher-item">
                <header>
                    <img src="https://avatars3.githubusercontent.com/u/788678?s=400&u=9894c93f99d64d6846942503ccc0c76bfce94540&v=4" alt="David Malan">
                    <div>
                        <strong></strong>
                        <span>Matemática</span>
                    </div>
                </header>
                <p>David J. Malan is Gordon McKay Professor of the Practice of Computer Science in the School of Engineering and Applied Sciences and a Member of the Faculty of Education in the Graduate School of Education at Harvard University. He teaches Computer Science 50, otherwise known as CS50, which is Harvard University’s largest course, one of Yale University’s largest courses, and edX’s largest MOOC, with over 2M registrants. He also teaches at Harvard Business School, Harvard Law School, Harvard Extension School, and Harvard Summer School. All of his courses are freely available as OpenCourseWare.</p>
                <footer>
                    <p>Preço/hora<strong>US$2.000,00</strong></p>
                    <button><img src="images/icons/whatsapp.svg" alt="Whatsapp">Entrar em contato</button>
                </footer>
            </article>
            <article class="teacher-item">
                <header>
                    <img src="https://avatars3.githubusercontent.com/u/788678?s=400&u=9894c93f99d64d6846942503ccc0c76bfce94540&v=4" alt="David Malan">
                    <div>
                        <strong></strong>
                        <span>Matemática</span>
                    </div>
                </header>
                <p>David J. Malan is Gordon McKay Professor of the Practice of Computer Science in the School of Engineering and Applied Sciences and a Member of the Faculty of Education in the Graduate School of Education at Harvard University. He teaches Computer Science 50, otherwise known as CS50, which is Harvard University’s largest course, one of Yale University’s largest courses, and edX’s largest MOOC, with over 2M registrants. He also teaches at Harvard Business School, Harvard Law School, Harvard Extension School, and Harvard Summer School. All of his courses are freely available as OpenCourseWare.</p>
                <footer>
                    <p>Preço/hora<strong>US$2.000,00</strong></p>
                    <button><img src="images/icons/whatsapp.svg" alt="Whatsapp">Entrar em contato</button>
                </footer>
            </article>
        </main>
            
    </div>

</body>
<script src="index.js"></script>
</html>